<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Paul Bamford - UI/UX designer" %></title>

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->

    <meta name="viewport" content="width=device-width">

    <!-- Stop site being indexed -->
    <meta name="robots" content="noindex">
    
    <%= stylesheet_link_tag "screen" %> 

    <%= javascript_include_tag "//use.typekit.net/qva1orf.js" %>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.js"></script>
    <![endif]-->  

  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial "footer" %>
  </body>

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
  <script>!window.jQuery && document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
  <%= javascript_include_tag  "all" %>
  


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-44228424-1', 'paulbamford.me');
    ga('send', 'pageview');
  </script>


</html>